[Unit]
Description=Hello World
After=multi-user.target

[Service]
ExecStart=/home/pi/SpeedSkating-Backend
WorkingDirectory=/home/pi/
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target